
npm-debug.log

auth0*.js
*.js.map
*.log
.idea
.DS_Store
!scripts/*.js
demos/tns/app/*.js
!demos/tns/karma.conf.js
!demos/tns/app/tests/*.js
demos/tns/*.d.ts
demos/tns/lib
demos/tns/hooks
demos/tns/platforms
demos/tns/localplugin
demos/tns/node_modules
node_modules