
npm-debug.log

*.js
*.js.map
*.log
.idea
.DS_Store
!scripts/*.js
demo/app/*.js
!demo/karma.conf.js
!demo/app/tests/*.js
demo/*.d.ts
demo/lib
demo/platforms
demo/localplugin
demo/node_modules
node_modules