.vscode
.history
.idea
.DS_Store
*.esm.json
*.js
*.js.map
*.log
src/*.d.ts
!src/index.d.ts
!src/references.d.ts
!src/scripts/*.js
!seed-tests/*.js
seed-tests/seed-copy/**/*.*
seed-tests/seed-copy-new-git-repo/**/*.*
!demo/karma.conf.js
!demo/webpack.config.js
!demo/webpack.custom.config.js
!demo/app/tests/*.js
demo/*.d.ts
!demo/references.d.ts
demo/.tmp_backup
demo/lib
demo/platforms
node_modules
publish/src
publish/package
publish/package-lock.json
demo/report/report.html
demo/report/stats.json
!demo-vue/babel.config.js
!demo-vue/webpack.config.js
!demo-vue/webpack.custom.config.js
package-lock.json
*.tgz
