<GridLayout rows="*, auto">
  <GridLayout rows="*" row="0" class="data">
    <ScrollView>
      <StackLayout>
        <Label [text]="data" textWrap="true"></Label>
        <Label text="TOKENS" class="header" textWrap="true"></Label>
        <Label [text]="'accessToken: ' + creds.accessToken" textWrap="false"></Label>
        <Label [text]="'idToken: ' + creds.idToken" textWrap="true"></Label>
        <Label [text]="'refreshToken: ' + creds.refreshToken" textWrap="false"></Label>
        <Label [text]="'Token expires: ' + tokenExpiryDate" textWrap="true"></Label>
      </StackLayout>

    </ScrollView>
  </GridLayout>
  <StackLayout row="1" class="commands">
    <Button text="GET USER" class="btn" tap="onGetUserData"></Button>
    <Button text="GET TOKEN" class="btn" tap="onGetTokenData"></Button>
    <Button text="LOGOUT" class="btn" tap="onLogout"></Button>
  </StackLayout>
</GridLayout>
