<ScrollView>
    <StackLayout class="p-20">
        <StackLayout orientation="horizontal" horizontalAlignment="center" class="m-b-20">
            <Image src="~/assets/nativescript-angular-logo.png" height="100"></Image>
            <Image src="~/assets/auth0-logo.png" height="100"></Image>
        </StackLayout>

        <Button text="Log with Auth0" class="-primary" (tap)="login()"></Button>
        <Label textWrap="true" class="body mono p-20" [text]="message"></Label>
    </StackLayout>
</ScrollView>
